/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*MY CODE*/
* {
  text-decoration: none;
}

a:hover {
  color: #008080;
  text-decoration: underline;
}

header {
  background-color: #fff;
  width: 100%;
  height: 100px;
}

header .header-brand {
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 900;
  color: #111;
  text-transform: uppercase;
  display: block;
  margin: 0, auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li{
  display: inline-block;
  float: none;
  list-style: none;
  padding: 0 16px;
}

header nav ul a{
  font-family: Catamaran;
  font-size: 25px;
  color: #111;
  text-transform: none;
}

header .header-cases {
  display: none;
}

@media only screen and (min-width: 1000px) {
  header .header-brand {
    margin: 31px 0;
    text-align: left;
    line-height: 38px;
    padding: 0 20px 0 40px;
    border-right: 3px solid #111;
    float: left;
  }
  header nav ul {
    margin: 20px 0px 0px 20px;
    float: left;
  }

  header nav ul li a {
    line-height: 60px;
    font-size: 20px;
  }

}

/*INDEX*/
.index-banner {
  width: 100%;
  height: calc(90vh - 1160px);
  background-image: url('img/banner2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family: Catamaran;
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
  font-family: Cormorant Garamond;
  font-size: 30px;
  font-weight: 420;
  font-style: italic;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

.imges-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width:80%;
  filter: drop-shadow(3px 3px 3px #666666);
}

.index-box1 div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100%;
  background-color: #f2f2f2;
}

.index-box2 div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100%;
  background-color: #f2f2f2;
}

.index-box3 div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100%;
  background-color: #f2f2f2;
}

.index-box4 div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100%;
  background-color: #f2f2f2;
}

.index-box5 div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100%;
  background-color: #f2f2f2;
}

.wrapper div h3 {

  font-size: 55px;
  font-weight: 600;
  line-height: 50px;
  color: #111;
  padding-left: 10px;
  text-transform: capitalize;
}

.wrapper div p{

  font-size: 50px;


  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: #111;
  text-align: left;
}

.wrapper div ul li{

  font-size: 50px;


  padding-top: 5px;
  padding-left: 10px;
  padding-right: 15px;
  padding-left: 3em;
  text-indent: -1.7em;
  list-style: inside;
  color: #111;
  text-align: justify;
}

.wrapper div a {
  font-family: Catamaran;
  font-size: 40px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 30%;
  text-align: justify;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;

  }
  .index-banner {
    height: 450px;

  }
  .index-banner h1 {
    display: block;
    width: 560px;
    margin: 0 auto;
  }

  .imges-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width:50%;
    filter: drop-shadow(3px 3px 3px #666666);
  }

  .wrapper div h3 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    line-height: 50px;
    color: #111;
    padding-left: 10px;
    text-transform: capitalize;
  }

  .wrapper div p{
    font-family: Catamaran;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #111;
    text-align: justify;
  }

  .wrapper div ul li{
    font-family: Catamaran;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 15px;
    padding-left: 2em;
    text-indent: -1.5em;
    list-style: inside;
    color: #111;
    text-align: justify;
  }

  .wrapper div a {
    font-family: Catamaran;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 50%;
    text-align: left;
  }
}

/*FOOTER*/
footer {
  width: calc(100% - 30px);
  padding: 15px 15px;
  margin-top: 20px;
  background-color: #110;
  overflow: hidden;
}

footer ul {
  width: fit-content;
  float: left;
  padding: 0 28px;
}

footer ul li {
  display: inline-block;
  list-style: none;
  line-height: 45px;
}

footer ul li p {
  font-family: Catamaran;
  font-size: 24px;
  color: #fff;
  line-height: 40px;
}


footer ul li a {
  font-family: Catamaran;
  font-size: 24px;
  color: #fff;
  line-height: 40px;
  padding: 22px;
}

footer ul li i {
  font-family: Catamaran;
  font-size: 40px;
  color: #fff;
  line-height: 40px;
  margin-left: 55px;
}

.footer-links-main {
  display: none;
}

.footer-links-cases {
  display: table-cell;
}

@media only screen and (min-width: 1000px) {
  .footer-links-cases {
    display: block;
  }

  footer ul {
    padding: 10px;
  }

  footer ul li p {
    font-family: Catamaran;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
  }

}
