
body {
    background-color: #eee;
}

h1 {
    font-family: arial, "Times New Roman";
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
    text-align: left;
    text-decoration: underline;
    text-indent: 30px;
    text-transform: capitalize;
    color: black;
    background-color:white;
    letter-spacing: 10px;
    word-spacing: 10px;
    line-height: 40px;
}

